.product-detail-image{
    height: 680px;
    width: 680px;
    padding-left: 32px;
}

.product-info{
    padding-right: 32px;
    list-style: none;
}

.details-firstRow{
    margin: auto;
    background-color: white;
    width: 70%;
    padding: 0;
    display: flex;
}

.product-description-container{
    margin: auto;
    background-color: white;
    list-style: none;
    width: 70%;
    padding: 0;
    display: flex; 
    flex-flow: column; 
    height:100%;
}

.product-condition{
    padding-top: 32px;
    margin-bottom: 16px;
    color: #666666;
    font-size: 20px;
}

.product-title{
    color: #333333;
}

.product-price{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 20px;
    color: #333333;
    display: inline-flex;
    gap: 3px;
}

.decimals{
    font-size: 16px;
}

textarea{
    resize: none;
    overflow: hidden;
    padding-bottom: 32px;
    padding-left: 32px;
    height: 100%;
    background-color: white;
    border: white;
    color: #999999;
    width: 75%;
}

.title-description{
    padding-left: 32px;
    margin: 0;
    padding-bottom: 32px;
    color: #333333;
}

.button-detail{
    background-color: #3483FA;
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    box-shadow: white;
    border: white;
}

